{% extends 'base.html' %}

{% block title %}Upload image{% endblock %}
{% block head %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2LCLN0DQ53"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2LCLN0DQ53');
</script>

<script>
    localStorage.removeItem("data")
</script>
{% endblock %}


{% block body %}
<main class="content-container">
    <div class="upload-area">
        <h1>Start a new note</h1>
        <p>Select your preferred method to upload your content.</p>
        <div class="option-buttons">
            <a href="{{ url_for('upload_pdf') }}" class="option-btn">PDF</a>
            <a href="{{ url_for('upload_img') }}" class="option-btn">Image</a>
            <a href="{{ url_for('upload_txt') }}" class="option-btn">Text</a>
        </div>
    </div>
</main>


{% endblock %}