{% extends 'base.html' %}

{% block title %}Upload image{% endblock %}

{% block body %}
<header class="navbar">
        <div class="navbar-left">
            <a href="index.html" class="brand-name">FlashNote</a>
        </div>
        <div class="navbar-right">
            <a href="#">About</a>
            <a href="#">Source Code</a>
        </div>
    </header>

    <main class="content-container">
        <div class="upload-area">
            <h1>Upload an Image</h1>
            <form action="/submit-image" method="post" enctype="multipart/form-data">
                <p class="warning-message">Warning: Image size should be less than 10MB.</p>
                <input type="file" id="image-input" name="imageFile" accept=".jpg,.jpeg,.png" required>
                <button type="submit" class="submit-btn">Submit Image</button>
            </form>
        </div>
    </main>
{% endblock %}