{% extends 'base.html' %}

{% block title %}Upload pdf{% endblock %}
{% block head %}
<script>

window.onload = () =>{
    document.getElementById('pdf-input').addEventListener('change', (e)=> {
    if (e.target.files.length > 0) {
        const file = e.target.files[0];
        if (file) {
            const fileSizeInBytes = file.size;
            const fileSizeInMB = (fileSizeInBytes / (1024 * 1024)).toFixed(2);

            if(fileSizeInMB<10.5){
                localStorage.setItem("data","true")
            }else{
                alert("Image size should be less than 10MB.")
                document.getElementById('form').addEventListener('submit', function(eventBtn) {
                    eventBtn.preventDefault(); 
                });
                console.log(`File Size: ${fileSizeInMB} MB`);
            }
        }
    } else {
        localStorage.setItem("data","")
    }
});

}
</script>
{% endblock %}


{% block body %}

{% include "back-btn.html" %}

    
    <main class="content-container">
        <div class="upload-area">
            <h1>Upload a PDF</h1>
            <form id="form" method="post" enctype="multipart/form-data">
                <p class="warning-message">Warning: Pages should be less than 6.</p>
                <input type="file" id="pdf-input" name="pdfFile" accept=".pdf" required>
                <button type="submit" class="submit-btn">Submit PDF</button>
            </form>
        </div>
    </main>
{% endblock %}
