{% extends 'base.html' %}

{% block title %}Upload text{% endblock %}
{% block head %}
<script>
    function setLocal(){
        if(document.getElementById("text-area").value.length > 0){
            localStorage.setItem("data","true")
        }else{
            localStorage.setItem("data","")
        }
    }
</script>
{% endblock %}


{% block body %}

{% include "back-btn.html" %}

    <main class="content-container">
        <div class="upload-area">
            <h1>Type your Text</h1>
            <form method="post" enctype="multipart/form-data">
                <p class="warning-message">Text area is preferred for faster conversion.</p>
                <textarea id="text-area" name="textData" placeholder="Type or paste your text here..." required></textarea>
                <button type="submit" class="submit-btn" onclick="setLocal()">Submit Text</button>
            </form>
        </div>
    </main>
{% endblock %}